$gray: #757575;
$gray-dark: #444;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

$breakpoint-xs-max: 575px;

$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767px;

$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;

$breakpoint-lg-min: 992px;
$breakpoint-lg-max: 1999px;

$breakpoint-xl-min: 1200px;
