@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 20px 0 40px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}