.calendar {
    border-spacing: 0;
    width: 100%;
    color: #000;
    background-color: #FFF;
}

th {
    text-align: center;
}

th, td {
    padding: 5px;
    width: 14.28%;
}

.cal-header {
    background-color: #2f74b5;
    color: #FFF;
    font-weight: 400;
}

.cal-cell {
    border: 1px solid #888;
    height: 120px;
    vertical-align: top;

    .day {
        width: 20px;
        display: inline-block;
        text-align: center;
        font-weight: 600;
    }

    &.weekend-day {
        background-color: #f2f2f2;

        .day {
            color: #2f74b5;
        }
    }

    &.outmonth-day {
        .day {
            color: #a7a7a7;
        }
    }

    &.today {
        .day {
            color: #ee7103;
        }
    }
}

.delete-all {
    padding: 0 5px;
    font-size: 11px;
}

.reminders {
    overflow: hidden;
    overflow-y: auto;
    max-height: 90px;
    clear: both;
}

::ng-deep .invalid {
    color: #dc3545;
}