<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="month" class="label mb-0">Month</label>
            <select id="month" name="month" class="form-control" [(ngModel)]="currentMonth" (change)="init()">
                <option *ngFor="let m of months; let idx = index" [value]="(idx + 1)">{{ m }}</option>
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="year" class="label mb-0">Year</label>
            <input type="number" id="year" name="year" class="form-control" [(ngModel)]="currentYear" [min]="minYear" [max]="maxYear" minlength="4" maxlength="4" (change)="checkYear()" />
        </div>
    </div>
    <div class="col">
        <div class="form-group text-right">
            <label class="label mb-0 d-block">&nbsp;</label>
            <button type="button" (click)="addReminder()" class="btn btn-primary">New Reminder</button>
        </div>
    </div>
</div>

<table class="calendar" *ngIf="calendar && calendar[0].length">
    <thead>
        <tr>
            <th *ngFor="let day of days" class="cal-header">{{ day }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of calendar; let idxWeek = index">
            <td *ngFor="let day of calendar[idxWeek]"
                class="cal-cell"
                [class.today]="isToday(day.date)"
                [class.outmonth-day]="isOtherMonth(day.date)"
                [class.weekend-day]="isWeekend(day.date)">

                <span class="day">{{ getDay(day.date) }}</span>

                <ng-container *ngIf="!isOtherMonth(day.date)">
                    <span class="float-right">
                        <button type="button" class="btn btn-sm btn-danger delete-all" (click)="deleteAll(day.date)" title="Delete All" *ngIf="getReminders(getDay(day.date)).length > 0">&times;</button>
                    </span>
                    <div class="reminders">
                        <reminder [reminder]="reminder" *ngFor="let reminder of getReminders(getDay(day.date))"></reminder>
                    </div>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>

<!-- VIEW REMINDER MODAL -->
<a11y-modal #reminderViewModal width="600px" [modalTitle]="reminderViewModalData.title" [closeOn]="{ dismiss: false }" [buttons]="reminderViewModalData.buttons">
    <view-reminder *ngIf="reminderViewModalData.data" [data]="reminderViewModalData.data"></view-reminder>
</a11y-modal>

<!-- NEW/EDIT REMINDER MODAL -->
<a11y-modal #reminderNewEditModal width="600px" [modalTitle]="reminderNewEditModalData.title()" [closeOn]="{ dismiss: false }" [buttons]="reminderNewEditModalData.buttons">
    <create-edit-reminder #reminderNewEditComponent *ngIf="reminderNewEditModalData.data" [data]="reminderNewEditModalData.data"></create-edit-reminder>
</a11y-modal>

<!-- DELETE SIGLE REMINDER MODAL -->
<a11y-modal #reminderDeleteModal width="500px" [modalTitle]="reminderDeleteModalData.title" [closeOn]="{ dismiss: false }" [buttons]="reminderDeleteModalData.buttons">
    <div>Are you sure you want to delete this reminder?</div>
</a11y-modal>

<!-- DELETE ALL REMINDERS MODAL -->
<a11y-modal #deleteAllModal width="550px" [modalTitle]="deleteAllModalData.title" [closeOn]="{ dismiss: false }" [buttons]="deleteAllModalData.buttons">
    <div>Are you sure you want to delete all reminders for {{ deleteAllModalData.date | date : 'longDate' }}?</div>
</a11y-modal>