<form #form="ngForm" (ngSubmit)="saveReminder()" class="reminder-form" *ngIf="data">
    <div class="row mb-3">
        <div class="col">
            <div class="form-group">
                <label for="reminder_text">Reminder <span class="invalid">*</span></label>
                <input type="text" class="form-control"
                    [class.is-invalid]="textError || (text.invalid && (text.dirty || text.touched))"
                    id="reminder_text" name="reminder_text" required
                    maxlength="30" [(ngModel)]="data.text"
                    #text="ngModel" />
                <small class="float-right">{{ 30 - data.text.length }}/30 characters remaining</small>
            </div>
        </div>
    </div>

    <datetime [date]="data.date" (changed)="data.date = $event" *ngIf="data.date"></datetime>
    <div class="text-center mb-1" *ngIf="dateError">
        <small class="invalid">The date must be greater than now</small>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="reminder_city">City <span class="invalid">*</span></label>
                <select type="text" class="form-control"
                    [class.is-invalid]="cityError"
                    id="reminder_city" name="reminder_city" required [(ngModel)]="data.cityId">

                    <option value="-1">Please select a city</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }} ({{ city.country }})</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Color <span class="invalid">*</span></label>
            <div>
                <button type="button" *ngFor="let color of colors"
                    (click)="data.color = color"
                    [ngStyle]="{ 'background-color' : color }"
                    class="color-btn"
                    [class.active]="data.color === color">
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="reminder_color" required [(ngModel)]="data.color" />
    <input type="hidden" name="reminder_date" required [(ngModel)]="data.date" />
</form>