.color-btn {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow:0 0 0 0.2rem rgba(0,123,255,.25);
    }

    &.active {
        box-shadow: 1px 3px 10px #333;

        &:focus {
            box-shadow: 1px 3px 10px #333 0 0 0 0.2rem rgba(0,123,255,.25);
        }
    }
}