<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="reminder_day">Date <span class="invalid">*</span></label>
            <div class="row">
                <div class="col pr-0">
                    <label for="reminder_day" class="sr-only">Day</label>
                    <select class="form-control" id="reminder_day" name="reminder_day" (change)="saveDate()" [(ngModel)]="dateSplitted.d">
                        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                    </select>
                </div>
                <div class="col pr-0">
                    <label for="reminder_month" class="sr-only">Month</label>
                    <select class="form-control" id="reminder_month" name="reminder_month" (change)="getDaysInMonth()" [(ngModel)]="dateSplitted.m">
                        <option *ngFor="let month of months; let idx = index" [value]="idx">{{ month }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="reminder_year" class="sr-only">Year</label>
                    <input type="number" class="form-control" id="reminder_year" name="reminder_year" (change)="getDaysInMonth()" [(ngModel)]="dateSplitted.y" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="reminder_time_hour">Time <span class="invalid">*</span></label>
            <div class="row">
                <div class="col pr-0">
                    <label for="reminder_time_hour" class="sr-only">Hour</label>
                    <select class="form-control" id="reminder_time_hour" name="reminder_time_hour" (change)="saveDate()" [(ngModel)]="dateSplitted.h">
                        <option *ngFor="let hour of hours" [value]="hour">{{ getHour(hour) }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="reminder_time_minutes" class="sr-only">Minutes</label>
                    <select class="form-control" id="reminder_time_minutes" name="reminder_time_minutes" (change)="saveDate()" [(ngModel)]="dateSplitted.n">
                        <option *ngFor="let minute of minutes" [value]="minute">{{ getMinutes(minute) }}</option>
                    </select>
                </div>
                <div class="col pl-0">
                    <label for="reminder_time_ampm" class="sr-only">AM/PM</label>
                    <select class="form-control" id="reminder_time_ampm" name="reminder_time_ampm" (change)="saveDate()" [(ngModel)]="dateSplitted.a">
                        <option [value]="true">AM</option>
                        <option [value]="false">PM</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>