<button type="button" (click)="viewReminder()" class="reminder" [ngStyle]="{ 'background-color' : reminder.color }" *ngIf="reminder">
    <span class="time">{{ getTime(reminder.date) }}</span>
    <span class="text">{{ reminder.text }}</span>
</button>