.reminder {
    border-radius: 5px;
    font-size: 13px;
    padding: 0 5px;
    margin-bottom: 2px;
    cursor: pointer;
    border: 0;
    text-align: left;
    width: 100%;
}

.time {
    font-size: 11px;
    margin-right: 5px;
}

.text {
    font-weight: 600;
}