<h2 class="reminder-text mb-3">{{ data.text }}</h2>

<div class="row mb-3">
    <div class="col">
        <div class="font-weight-bold label">Date</div>
        <div class="font-weight-normal text">
            {{ data.date | date : 'longDate' }} @ {{ data.date | date : 'shortTime' }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="font-weight-bold label">City</div>
        <div class="font-weight-normal text">
            {{ getCity(data.cityId) }}
        </div>
    </div>
    <div class="col-6">
        <span class="float-left" [innerHTML]="getWeather('icon')"></span>
        <div class="font-weight-bold label">Weather</div>
        <div class="font-weight-normal text" [class.invalid]="weatherError" [innerHTML]="getWeather('weather')"></div>
    </div>
</div>