<div class="a11y-modal-wrapper" [hidden]="!modalVisible">
    <div #a11yModalWrapper class="a11y-modal modal" [class.show]="modalVisible">
        <div #a11yModal class="a11y-modal-dialog modal-dialog" [style.max-width]="width | a11ySafe:'style'" [style.zIndex]="(zIndex+1) | a11ySafe:'style'" [@modalOpen]="modalOpen" [@modalOpenDisplay]="modalOpen"
            role="dialog" tabindex="0" [id]="modalID" [attr.aria-labelledby]="(modalTitle) ? modalID + '-title' : null">

            <div class="a11y-modal-content modal-content">
                <button type="button" *ngIf="closeOn.closeButton" [disabled]="disableClose" class="close" [class.with-title]="modalTitle" (click)="close()" [attr.aria-label]="labels.close" [innerHTML]="'&times;'"></button>

                <div class="a11y-modal-header modal-header" [class.with-close]="closeOn.closeButton" *ngIf="modalTitle">
                    <h1 [id]="modalID + '-title'" class="a11y-modal-title modal-title" [textContent]="modalTitle | a11yStripHTML"></h1>
                </div>

                <div class="a11y-modal-body modal-body"><ng-content></ng-content></div>

                <div class="a11y-modal-footer modal-footer" *ngIf="(buttons && buttons.length) || closeOn.dismiss || closeOn.cancel">
                    <ng-container *ngIf="buttons && buttons.length">
                        <ng-container *ngFor="let button of buttons">
                            <button type="button" *ngIf="button.buttonCallback && button.buttonCallback.constructor.name === 'Function'"
                                [disabled]="button.buttonDisabled" class="btn {{ button.buttonClass }}"
                                (click)="button.buttonCallback($event)" [innerHTML]="button.buttonText">
                            </button>
                        </ng-container>
                    </ng-container>
                    <button type="button" *ngIf="closeOn.dismiss" class="btn btn-primary" (click)="close()" [disabled]="disableClose" [textContent]="labels.dismiss"></button>
                    <button type="button" *ngIf="closeOn.cancel" class="btn btn-secondary" (click)="close()" [disabled]="disableClose" [textContent]="labels.cancel"></button>
                </div>
            </div>
        </div>
        <div [@fadeBackdrop]="modalOpen" class="a11y-modal-backdrop modal-backdrop" [style.zIndex]="zIndex | a11ySafe:'style'" [style.right]="backdropRightOffset | a11ySafe:'style'" (click)="backdropClick($event)"></div>
    </div>
</div>

<div #scrollbarCalcWrapper *ngIf="!scrollbarFullWidth" class="scrollbar-calc-wrapper">
    <div #scrollbarCalc class="scrollbar-calc"></div>
</div>