@import '../common/variables.scss';

.scrollbar-calc-wrapper {
    opacity: 0;
    width: 100px;
    height: 1px;
    overflow: hidden;
    overflow-y: scroll;

    .scrollbar-calc {
        width: 100px;
        height: 2px;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    outline: 0;

    &.show {
        display: block;
    }
}

.modal.show .modal-dialog {
    transform: initial;
}
.modal-dialog {
    max-width: 500px;

    @media (max-width: $breakpoint-lg-max) {
        max-width: ($breakpoint-md-max - 20px);
    }
    @media (max-width: $breakpoint-md-max) {
        max-width: 90%;
    }
    @media (max-width: $breakpoint-xs-max) {
        max-width: calc(100% - (0.5rem * 2));
    }

    &:focus {
        outline: 1px dashed #FFF;
        outline-offset: 1px;
    }
}

.modal-header.with-close {
    padding-right: 40px;
}

.modal-title {
    font-size: 20px;
}

.close {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    width: 24px;
    height: 24px;
    color: $gray;
    cursor: pointer;

    &.with-title {
        top: 20px;
    }
    
    &:hover {
        color: $gray-dark;
    }
    &:focus {
        outline: 1px dashed $gray-dark;
        color: $gray-dark;
    }
}
